#include "..\src\main.h"

GRINBOX_MAIN_ICON ICON "icon1.ico"

GRINBOX_MAIN_MENU MENU
BEGIN
	POPUP "&File"
		BEGIN
			MENUITEM "&Load background",ID_MENU_LOADBACKGROUND
			MENUITEM SEPARATOR
			MENUITEM "E&xit",ID_MENU_EXIT
		END
	POPUP "&Help"
		BEGIN
			MENUITEM "&About",ID_MENU_ABOUT
		END
END